<div>app component works!</div>
<app-header></app-header>
<!-- <div>
  <button (click)="selectedTab('Shopping List')">Shopping List</button>
  <button (click)="selectedTab('Recipe')">Recipe</button>
</div> -->

<nav>
  <a routerLink="/shopping-list" routerLinkActive="selected">Shopping List</a>
  <a routerLink="/recipe" routerLinkActive="selected">Recipe</a>
</nav>

<router-outlet></router-outlet>

<!-- <app-shopping-list
  *ngIf="selectedTabValue === 'Shopping List'"
></app-shopping-list>
<app-recipe *ngIf="selectedTabValue === 'Recipe'"></app-recipe> -->

<!-- <div>{{ title }}</div>
<div>
  <input type="text" name="name" (keyup)="onChange($event)" />
</div>
<div>
  <input type="text" name="username" [(ngModel)]="username" />
</div>
<div>
  {{ username }}
</div>

<div [class.selected]="selected">class example</div>

<div [ngClass]="classObj">class example</div>

<hr />
<div>ngFor example</div>
<div *ngFor="let fruit of fruits; let i = index">{{ i + " " + fruit }}</div>

<hr />

<app-test [title]="title" (sendData)="childFn($event)"></app-test> -->
